
<head></head>
<body>
    <div class="bg">
       <a routerLink="/add/0" class=" btn btn-primary  mb-3">Book Now</a>
  
<!--adding new button to book-->
    
        <table class="table" >
            <thead class="thead-light">
                <tr>
                    <th>BookingId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Provience</th>
                    <th>Zip</th>
                    <th>Mobitel number</th>
                    <th>Image</th>
                    <th>Room type</th>
                    <th>Smoking room</th>
                    <th>Pocket WIFI</th>
                    <th></th>
                    
                    
                </tr>
            </thead>
            <tbody>
            <tr *ngIf ="books">
                    <td>{{books.bookingId}}</td>
                    <td>{{books.firstName}}</td>
                   <td>{{books.lastName}}</td>
                    <td>{{books.email}}</td>
                    <td>{{books.streetAddress}}</td>
                    <td>{{books.city}}</td>
                    <td>{{books.provience}}</td>
                    <td>{{books.zipCode}}</td>
                    <td>{{books.phone_Number}}</td>
                    <td>{{books.photoFileName}}</td>>
                    <td>{{books.roomType}}</td>>
                    <td>{{books.smokingRoom}}</td>>
                   <td ><a [routerLink]="['/Edit',books.bookingId]">Edit</a></td>   <!--both buttons are implemented-->
                  <!--    <td ><a routerLink="/Edit/{{books.BookingId}}">Edit</a></td>--><!--new buttons for edit-->
                    <td><button type="submit" class="btn btn-primary" (click)="onDelete(books.BookingId)">X</button></td>
                   
                </tr>
            </tbody>
        </table>
    



</div>
</body>
