body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url(../../assets/Dashboard.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.login{
  width: 450px; 
  background-color: white;
    padding-left: 25px;
     padding-top: 15px; 
     padding-bottom: 15px; 
     padding-right: 15px; 
     border-radius: 20px;
}